@import '../../../styles/colors';
@import '../../../styles/buttons';

#containerformFA {
    background-color: $color-white-OB;
    border-radius: 8px;
    margin: 5.5em auto 0;
    padding: 0.75em 1em 0.75em 1em;
    max-width: 650px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    
} 

.h1QueEmpresa {
    //position: absolute;
    width: 396px;
    height: 28px;
    margin-left: 250px;
    top: 247px;
}

.grid-container {
    display: grid;
  }

.labletam {
    width: 3356px;
    height: 556px;   
}

.botonFA {
    
    width: 302.67px;
    height: 51px;
    background: $color-white-OB;
    border: 1px solid $color-grey-light-OB;
    border-radius: $border-radius-OB;    
    box-sizing: border-box;
    //color texto
    color: $color-black-OB;       
    font: {
        family: $font-family-OB;
        size: $font-size-text-but-16;
        style: bold;
        width: 126px;
        height: 19px;
        left: 16px;
        top: 16px;
        weight: bold;
        size: $font-size-text-but-16;
    }
                            
}

.botonFA:active {
    border: 1px solid $color-green-OB;
    box-sizing: border-box;
    border-radius: 8px;
}

.botonFA:focus{
    border: 1px solid $color-green-OB;
    box-sizing: border-box;
    border-radius: 8px;
}

#ButtonsFac{
    display: grid;
    grid-template-columns: repeat(3, auto);
}

#header_mobile{
    display: none;
}