@import './colors';
@import './thypography';

$border-radius-OB: 8px;

/* Auto Layout */

input {
    border: 1px solid #9B9B9B;
    box-sizing: border-box;
    border-radius: $border-radius-OB;
    font-family: $font-family-OB;
}

input[type="checkbox"] {
     width: 20px;
     height: 20px;
}

input {
     font-family: $font-family-OB;
}

.button{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    width: 160px;
    height: 48px;
    left: 728px;
    bottom: 492px;
    border-radius: $border-radius-OB;
    font-family: $font-family-OB;
    font-weight: 500;
    font-size: $font-size-text-but-16;
 }

 #default{
    @extend #buttonGreen;
    width: auto;
 }

#buttonGreen{
    @extend .button;
    background: $color-green-OB;
    border: none;     
    color: $color-white-OB;     
    transition: 800ms;    
}

#buttonGreen:hover {
    background: $color-blue-light-OB;
}

 #buttonGreen:disabled,
 #buttonGreen[disabled]
 {
    @extend #buttonGreen;
    background: $color-grey-light-OB;
 }

 #buttonWhite {
    @extend .button;
    background-color: $color-white-OB;
    border: 1px solid $color-green-OB;
    box-sizing: border-box;
    color: $color-green-OB;       
}

#buttonWhite:hover {
    border: 1px solid $color-blue-light-OB;
    color: $color-blue-light-OB;
}

#invisible{
    @extend .button;
    background-color: $color-white-OB;
    border: none;
    color: $color-green-OB;  
    transition: 800ms; 
    width: auto;
 }

 #invisible:hover {
    color: $color-blue-light-OB;
}