//Colors Base
$white: #FFFFFF; 
$black: black;

//Colores Office Banking
$color-white-OB: $white;
$color-black-OB: #333333;
$color-blank-OB: #F5F5F5;
$color-grey-light-OB: #E5E5E5;
$color-grey-OB: #9B9B9B;
$color-green-OB: #00AB8E;
$color-green-success-OB: #6DAF25;
$color-yellow-OB: #FCC606;
$color-red-OB: #FF0202;
$color-grey-dark-OB: #5C5C5C;
$color-blue-light-OB: #007FA3;
$color-span-grey-OB: #F2F1F1;
$color-footer-grey-OB: #969696;