@import '../../../styles/colors';

.footerMobile {
    
   // height: 96px;
    display: grid;
    //align-items: center;
    background: #FFFFFF;
    grid-template-rows: repeat(5, 1fr);
}

.CBancoHipotecarioMobile {
    width: 165px;
    height: 16px;
    left: 24px;
    top: 968px;
    
    font: {
        family: Roboto;
        style: normal;
        size: 14px;
        weight: normal;
        line-height: 16px;
    }
    
    color: $color-footer-grey-OB;
 }

 .posicionMobile{
    width: 100%;
   
 }