@import '../../../styles/colors';

.footerMobile {
    
    display: grid;
    background: #FFFFFF;
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
    margin: 10px;
    border-radius: 6px;
    padding: 20px 0 0 0;
}

.CBancoHipotecarioMobile {
    width: 165px;
    height: 16px;
    left: 24px;
    top: 968px;
    
    font: {
        family: Roboto;
        style: normal;
        size: 14px;
        weight: normal;
        line-height: 16px;
    }
    
    color: $color-footer-grey-OB;
 }

 .posicionMobile{
    width: 100%;
   
 }