@import '../../../styles/colors';
@import '../../../styles/buttons';
@use '../../../styles/thypography';


#containerformBTNVctoPass {
    display: grid;
    grid-template-columns: auto auto ;
    background-color: $color-white-OB;
}

#botonCancelar {
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 160px;
    height: 48px;
    left: 552px;
    bottom: 492px;

    border: 1px solid $color-green-OB;
    box-sizing: border-box;
    border: {
        radius: $border-radius-OB;
    }

    color: $color-green-OB;       
    font: {
        family: $font-family-OB;
        size: $font-size-text-but-16;
        style: normal;
		width: 336px;
        height: 48px;
        left: 552px;
        top: 722px;			 
        weight: 500;
        size: $font-size-text-but-16;
    }
    background-color: $color-white-OB;
}

#botonContinuar {
    background: $color-green-OB;
    border: none;
    border-radius: $border-radius-OB;

    font-family: $font-family-OB;
    color: $color-white-OB;
    font: {
        style: medium;
        width: 96px;
        height: 19px;
        left: 120px;
        top: 14.5px;
        weight: 500;
        size: $font-size-text-but-16;
    }
    width: 160px;
    height: 48px;
    left: 728px;
    bottom: 492px;
}

#containerText {
    width: 350px;
    margin-top: 4px;
}

#inputBlancoVctoPass{
    margin-bottom: 16px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 42px 16px 16px;
    width: 380px;
    height: 56px;
    left: 552px;
    top: 356px;
}

#inputPosition{
    position: relative;
}

#inputImg{
    position: absolute;
    bottom: 28px;
    right: 64px;
}

#error{
    border: 2px solid red;
    margin-bottom: 16px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 42px 16px 16px;
    width: 380px;
    height: 56px;
    left: 552px;
    top: 356px;
}