@import './../../../styles/colors';

.headerMobile {
    height: 92px;

    background: $color-green-OB;
    //transform: matrix(1, 0, 0, -1, 0, 0);
    width: 22.5em;
}

#logo{
        margin: all;
        padding-left:24px;
        padding-top: 26px;  
        padding-bottom: 26px;
        width:114.46px;
        height: 40px;
        background: url(./../../../assets/iconos/Logo.svg)no-repeat right;
        float: left;
}

.posicion_headerMobile{
    position: static;
    top: 50%;
    left: 50%;
}