@import './../../../styles/colors';

.headerMobile {
    height: 56px;
    background: $color-white-OB;
    /* width: auto; */
    width: auto;
    margin-bottom: 2px;
    left: 0px;
    top: 24px;
    border-radius: 0px;
}

#back{
    padding-left:24px;
    padding-top: 14px;  
    width: 32px;
    height: 24px;
    float: left;
}

.posicion_headerMobile{
    position: static;
    top: 50%;
    left: 50%;
}