.containerformMC {
    
    //position: absolute;
    border: 1px solid #42464b;
    border-radius: 6px;
    height: 257px;
    margin: 20px auto 0;
    width: 50%;
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    background-color: white;
} 
