@import './../../styles/buttons';
@import './../../styles/colors';
@import './../../styles/thypography';

.divLogin {
    position: absolute;
    width: 432px;
    height: 606px;
    left: 504px;
    top: 212px;

//    background: #FFFFFF;
    border-radius: 8px;
}

.container_check {
    width: 400px;
    height: 150px;
}

.right_check{
    float: right;
    display: inline-block;
    height: 100%;
    width: 30%;
}

.left_check{
    float: left;
    display: inline-block;
    height: 100%;
    width: 70%;
    overflow: hidden;
}

.text_check{
    color: #9B9B9B;
}

.container{
    background-image: url("../../assets/imagenes/fondo.png");
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
     min-width: 100vh;
}

.containerform {
    
    //position: absolute;
    width: 432px;
    height: 606px;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 110px;
    margin-top: 120px;
    background: $color-white-OB;// #FFFFFF;
    border-radius: 8px;
} 

.centerTextDiv {
    margin-top: 48px;
    margin-bottom: 48px;
    // padding-top: 48px;
    padding-top: 20px;
    padding-bottom: 48px;
}
.margenIzquierdo {
    margin-left: 48px;
}

.problemasSesion {
    position: static;
    width: 274px;
    height: 19px;
    left: 31px;
    top: 14.5px;
    text-decoration: none;
    color: $color-green-OB;
    font: {
        family: $font-family-OB;
        font-style: normal;
        font-weight: 500;
        size: $font-size-text-but-16;
        line-height: 19px;
    }
        /* identical to box height */
        
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 0px 16px;
}

hr {
    // position: absolute;
width: 432px;
height: 2px;
left: 504px;
top: 696px;

margin-bottom: 24px;
margin-top: 24px;

border:none;

/* /Gray 100 */

background: #F2F1F1;
}

label {
    font-family: $font-family-OB;
}

.container_check_destokp{
    display: grid;
  grid-template-columns: 30px 200px;
}