@import '../../../styles/colors';
@import '../../../styles/buttons';
@use '../../../styles/thypography';

#containerformRS {
    margin: 5.5em auto 0;
    display: grid;
    grid-gap: 1em;
    background-color: #FFFFFF;
    width: 27em;
    /* height: 23em; */
    border-radius: 8px;
    text-align: center;
    padding: 0.75em 1em 0.75em 1em;

} 

.botonAceptarRS {
    background: $color-green-OB;
    border: none;
    border-radius: $border-radius-OB;

    font-family: $font-family-OB;
    color: $color-white-OB;
    font: {
        style: medium;
        width: 96px;
        height: 19px;
        left: 120px;
        top: 14.5px;
        weight: 500;
        size: $font-size-text-but-16;
    }
    width: 187px;
    height: 43px;
    left: 627px;
    top: 500px;

}

.botonAceptarRS:hover {
background: $color-blue-light-OB;
}

.botonAceptarRS:disabled {
    background: $color-grey-light-OB;
    color: $color-white-OB;    
}
